@import url("https://fonts.googleapis.com/css?family=Barlow:300");




*:focus {

    outline: none;

}




.ar-container {

    margin: auto;

    position: relative;

    top: 20%;

    padding: 10px;




    background-color: white;

    width: 300px;

    border-radius: 4px;

    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);

}




.ar-container h1 {

    text-align: center;

}




.ar-button {

    width: 100%;

    background-color: salmon;

    padding: 15px;

    border: none;

    border-radius: 4px;

    color: white;

}




.ar-button:hover {

    animation-name: btn-hover;

    animation-duration: 1s;

}




@keyframes btn-hover {

    10% {

        background-color: lightsalmon;

    }

}




.output-defined {

    color: salmon;

}




p {

    text-align: center;

    color: #898989;

    font-size: 10px;

}




a {

    color: salmon;

    text-decoration: none;

}




a:hover {

    color: lightsalmon;

    text-decoration: none;

}

section {

    margin: 10px;

}




input,

select {

    width: 100%;

    padding: 10px;

    height: 40px;

    background-color: white;

    border: 1px solid lightgray;

    border-radius: 4px;

    text-align: center;

    text-align-last: center;

}